# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle wrapper. This is done with the assumption that gradle is installed on the system.
gradle

# Ignore gradle scripts
gradlew
gradlew.bat

# Ignore Intellij specific files.
.idea

# Ignore Kotlin plugin data
.kotlin

